:root {
    --basic-background: #888888;

    --basic-light: #FFFFFF;
    --basic-for-btn: rgba(255, 255, 255, 0.3);
    --basic-light-transparent: rgba(255, 255, 255, 0.9);
    --basic-neutral: #EEEEEE;
    --basic-dark: #333333;
    --basic-extra-dark: #000000;

    --special-neutral: #F2F2F2;
    --special-neutral-hover: #EBEBEB;
    --special-blue: #81B3D2;
    --special-blue-hover: #669EC0;
    --special-blue-active: #5496BD;
    --special-brown: #766357;
    --special-brown-hover: #604E43;
    --special-brown-active: #503E33; 
}

body {
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    color: var(--basic-dark);
    text-transform: uppercase;
    background-color: var(--basic-background);    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: 40px;
    margin-right: 40px;
    background-color: var(--basic-light);
}

.main-logo {
    background-color: var(--special-blue);
}

.main-menu {
    list-style: none;
}

.menu-item {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}

.menu-item a {
    color: var(--basic-extra-dark);
}

.menu-item a:hover,
.menu-item a:focus {
    color: var(--special-blue);
}

.menu-item a:active {
    color:  var(--basic-extra-dark);
    opacity: 0.3;
}

.menu-item a:not([href]) {
    color: var(--special-brown)
}

.welcome-img {
    background-color: var(--special-blue);
    width: 1200px;
    height: 509px;
}

.welcome-desc {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-extra-dark)
}

.features-desc {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.features-main {
    background-color: var(--special-blue);
    color: var(--basic-light);
    text-align: center;
}

.features-main h3 {
    font-weight: bold;
    font-size: 21px;
}

.advantages-list {
    list-style: none;
}

.advantages-item  {
    text-align: center;
}

.advantages-item h3 {
    font-size: 21px;
    line-height: 21px;
}

.features-others {
    background-color: var(--basic-neutral);
}

.features-others-list {
    list-style: none;
}

.features-others-item {
    text-align: center;
}

.features-others-item h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.hotel-search {
    text-align: center;
}

.hotel-search h2 {
    font-size: 30px;
    line-height: 24px;
}

.hotel-search-btn {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-light);
    background-color: var(--special-brown);
    border: none;    
}

.hotel-search-btn:hover,
.hotel-search-btn:focus {
    background-color: var(--special-brown-hover);
    border: none;
}

.hotel-search-btn:active {
    background-color: var(--special-brown-active);
    color: var(--basic-for-btn);
    border: none;
}

.main-footer {
    background-color: var(--basic-light-transparent);
}

.map {
    width: 1199px;
    height: 594px;
    background-color: var(--basic-neutral);
}
.footer-contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.footer-contacts a {
    color: var(--basic-extra-dark);
}

.social-list {
    list-style: none;
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    text-align: center ;
}
