:root {
    --basic-light: #FFFFFF;
    --basic-for-btn: rgba(255, 255, 255, 0.3);
    --basic-light-transparent: rgba(255, 255, 255, 0.9);
    --basic-neutral: #EEEEEE;
    --basic-dark: #333333;
    --basic-extra-dark: #000000;

    --special-neutral: #F2F2F2;
    --special-neutral-hover: #EBEBEB;
    --special-blue: #81B3D2;
    --special-blue-hover: #669EC0;
    --special-blue-active: #5496BD;
    --special-brown: #766357;
    --special-brown-hover: #604E43;
    --special-brown-active: #503E33;
    --special-dark: #666666; 
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
    color: var(--basic-dark);
    text-transform: uppercase;
    background-color: var(--special-neutral);    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    margin: 0 auto;
    background-color: var(--basic-light);
}

.main-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 15px 72px;
    list-style: none;
}

.menu-item {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}

.menu-item:first-child,
.menu-item:nth-child(2) {
    text-align: left;
}

.menu-item:nth-child(3),
.menu-item:last-child {
    text-align: right;
}

.menu-item a {
    color: var(--basic-extra-dark);
}

.menu-item a:hover,
.menu-item a:focus {
    color: var(--special-blue);
}

.menu-item a:active {
    color:  var(--basic-extra-dark);
    opacity: 0.3;
}

.menu-item a:not([href]) {
    color: var(--special-brown);
}

.welcome-img {
    background-color: var(--special-blue);
    width: 1200px;
    height: 509px;
}

.welcome-desc {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-extra-dark);
}

.features-desc {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.features-main {
    background-color: var(--special-blue);
    color: var(--basic-light);
    text-align: center;
}

.features-main h3 {
    font-weight: bold;
    font-size: 21px;
}

.features-main-first {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 256px;
}

.features-main-first .features-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.features-main-first .features-img-wrapper {
    grid-column: 2 / 4;
    grid-row: 1 /2;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-item  {
    text-align: center;
}

.advantages-item h3 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-extra-dark);
}

.features-main-second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 256px;
}

.features-main-second .features-wrapper {
    grid-column: -1 /-2;
    grid-row: 1 / 2;
}

.features-main-second .features-img-wrapper {
    grid-column: -2 / -4;
    grid-row: 1 / 2;
}

.features-others-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--basic-neutral);
}

.features-others-item {
    text-align: center;
}

.features-others-item h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-extra-dark);
}

.hotel-search {
    text-align: center;
}

.hotel-search h2 {
    font-size: 30px;
    line-height: 24px;
    color: var(--basic-extra-dark);
}

.hotel-search-btn {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--basic-light);
    background-color: var(--special-brown);
    border: none;    
}

.hotel-search-btn:hover,
.hotel-search-btn:focus {
    background-color: var(--special-brown-hover);
    border: none;
}

.hotel-search-btn:active {
    background-color: var(--special-brown-active);
    color: var(--basic-for-btn);
    border: none;
}

.map {
    width: 1199px;
    height: 594px;
    background-color: var(--basic-neutral);
}

.main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--basic-light-transparent);
}

.footer-contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-extra-dark);
}

.footer-contacts a {
    color: var(--basic-extra-dark);
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer-copyright {
    font-size: 14px;
    line-height: 26px;
    text-align: center ;
    color: var(--basic-extra-dark);
}

.filter-search {
    background-color: var(--special-blue);
    width: 1200px;
    height: 217px;
}

.filter-results {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-extra-dark);
}

.filter-results h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.criterion-list {
    list-style: none;
}

.criterion-item a {
    opacity: 0.3;
    text-decoration: none;
}

.criterion-item a:hover,
.criterion-item a:focus {
    color: var(--special-blue);
    opacity: 1;
}

.criterion-item a:active {
    color: var(--basic-extra-dark);
    opacity: 1;
}

.criterion-item a:not([href]) {
    color: var(--special-blue);
    opacity: 1;
}

.sort-list {
    list-style: none;
}

.hotels-list {
    list-style: none;
}

.hotel-title {
    font-size: 21px;
    line-height: 26px;
}

.hotel-title a {
    color: var(--basic-extra-dark)
}

.hotel-title a:hover,
.hotel-title a:focus {
    color: var(--special-blue);
}

.hotel-title a:active {
    color: var(--basic-extra-dark);
    opacity: 0.3;
}

.btn {
    font-weight: bold;
    color: var(--basic-light);
}

.info-btn {
    background-color: var(--special-blue);
}

.info-btn:hover,
.info-btn:focus {
    background-color: var(--special-blue-hover);
}

.info-btn:active {
    color: var(--basic-for-btn);
    background-color: var(--special-blue-active);
}

.booking-btn {
    background-color: var(--special-brown);
}

.booking-btn:hover,
.booking-btn:focus {
    background-color: var(--special-brown-hover);
}

.booking-btn:active {
    color: var(--basic-for-btn);
    background-color: var(--special-brown-active);
}

.hotel-rating {
    color: var(--special-dark);
    background-color: var(--special-neutral);
}